li{
  font-size: 23px;
  color: black;
  text-decoration: none;
}

h1{
  font: 60px black;
  text-align: center;
  margin: 38px;
}

ul{
  margin: 0;
}

#grid{
  display: grid;
  margin-top: 16em;
  margin-bottom: 16em;
  grid-template-columns: 3fr 4fr;

}

#grid #links{
  display: grid;
  border-left: 1px solid gray;
  border-top: none;
  grid-template-rows: 1fr 1fr 1fr;
  padding-left: 3em;
}
